.titulo {
    color: lightsalmon;
    width: 274px;
    height: 50px;
    background-color: purple;
}

#eleccion-mascota {
    display: flex;          /*Le indicamos a CSS que vamos a utilizar flexbox*/
    flex-direction: column; /*Por defecto la direccion es row, asi que lo cambiamos a column*/
    justify-content: center;
    align-items: center;
}