@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Salsa&family=Tinos:ital@1&display=swap');

body {
    background: linear-gradient(to right, #FFA686, #FFB8DE, #7DCFB6);
    font-family: 'Arima Madurai', cursive;
}

#eleccion-personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: white;
    background-color: #4C3A51;
    font-size: 28px;
    width: 310px;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Salsa', cursive;
}

.subtitulo {
    color: #774360;
    font-size: 24px;
    font-family: 'Tinos', serif;
}

.tarjetas {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tarjetas-grupo1,
.tarjetas-grupo2,
.botones-ataque {
    display: flex;
    gap: 5px;
}

.tarjeta-de-personaje {
    color: white;
    background-color: #B25068;
    width: 190px;
    height: 130px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-de-personaje img {
    width: 100px;
}

.tarjeta-de-personaje p {
    text-align: center;
}

input {
    display: none;
}

input:checked + label {
    background-color: #E7AB79;
    color: black;
    border: 2px solid #774360;
}

#boton-personaje, 
#boton-piedra,
#boton-tijera,
#boton-papel {
    color: white;
    background-color: #774360;
    border: 2px solid white;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    font-family: 'Arima Madurai', cursive;
    font-size: 16px;
}

#boton-personaje {
    margin-top: 10px;
}

#boton-personaje:hover,
#boton-piedra:hover,
#boton-tijera:hover,
#boton-papel:hover {
    background-color: #4C3A51;
}

#eleccion-ataque {
    /*display: flex; No es necesario, se esta tomando del .js*/
    flex-direction: column;
    align-items: center;
}

#mensajes {
    background: #E7AB79;
    border: 2px solid #774360;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensajes p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

#boton-reiniciar {
    color: white;
    background-color: transparent;
    border: none;
    font-family: 'Arima Madurai', cursive;
    font-size: 12px;
    text-decoration: underline;
}

#boton-reiniciar:hover {
    color: #4C3A51;
}

.combate {
    display: grid;
    grid-template-columns: 200px 200px;
    text-align: center;
}

#combate-jugador,
#combate-enemigo {
    color: white;
    background-color: #B25068;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 16px;
    margin-left: 8px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 20px;
    margin-block-end: 1px;
}

#personaje-jugador, #personaje-enemigo {
    margin-block-start: 1px;
}

#personaje-jugador img , #personaje-enemigo img {
    width: 140px;
}

@media (max-width: 425px) {

    .tarjetas-grupo1,
    .tarjetas-grupo2,
    .botones-ataque {
        flex-direction: column;
    }
}